*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 38, 49);
    font-size: 14px;
    color: white;
    font-family: 'Cabin', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    color: black;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: rgb(200, 228, 178);
    color: black;
}
h1{
    margin-bottom: 10px;

}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #183D3D;
}
button{
    background: #9EB384;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(92, 131, 116);
}
.contact-left h3{
    color: #435334;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px; 
}
tr td:first-child{
    padding-right: 20px;


}
tr td{
    padding-top: 20px;
}