body {
    background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Optional: adjust based on your layout */
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left edge */
  width: 100%; /* Ensure it spans the full width of the viewport */
  
  color: white; /* Optional text color */
  
  flex-direction: row-reverse;
  height: 50px; /* Adjusted height */
}


.navbar-brand {
  color: white;
  font-size: 18px;  /* Reduced font size */
  font-weight: bold;
  margin-right: 20px;
}

.navbar-items {
  display: flex;
  flex-grow: 1;
  flex-direction: row; 
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 5px 10px;  /* Reduced padding */
  display: flex;
  align-items: center;
  border-radius: 15px;  /* Adjusted border radius */
  transition: background-color 0.3s ease;
  font-size: 14px;  /* Reduced font size */
}

.navbar-item .icon {
  margin-right: 5px;  /* Adjusted icon margin */
}

.navbar-item.active,
.navbar-item:hover {
  background-color: white;
  color: #5468ff;
}

.navbar-item.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#logoName {
  font-size: 2rem;
  font-weight: 600;
  position: fixed; /* Fixed positioning */
  top: 0; /* Align to the top of the viewport */
  left: 6%; /* Align to the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  
  padding: 10px 20px; /* Optional padding */
  z-index: 1000; /* Ensure it's above other content */
}
#search-txt{
  font-size: 2rem;
  font-weight: 300;

}

body div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
}

input {
    width: 60vw;
    height: 60px;
    padding: 9px;
    text-align: center;
    /* padding: 8px; */
    border: none;
    border-radius: 3px;
    font-size: 16px;
    /* margin-bottom: 10px; */
    background-color: #ddd;
    color: #333;
    font-size: 30px;
    outline: none;
    caret-color: palevioletred;
    
}
button {
    width: 85px;
    height: 77px;
    /* display: inline;
    justify-items: center; */
    background-color: #ddd;
    margin: 0;
}

#input_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid black; */

}

.search-icon {
    width: 65px;
    font-size: 50px;
    color: #666;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 5px;
}
.child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    /* border: 1px solid black; */
}
.wiki-result{
    list-style: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.wiki-result a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
#content li{
    width: 55rem;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    font-size: 20px;
}

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .search-container {
    position: relative;
    border-bottom: 2px solid rgb(196, 196, 196);
    color: #3498db;
  }

  .search-bar {
    background-color: transparent;
    color: white;
    width: 4.5vw;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    outline: none;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
  }

.nav-info{
  position: absolute;
  right: 35px;
  padding: 0;
  top: 5px;
}
#time{
  font-size: 1.4rem;
  margin-top: 5px;
}
#date{
  font-size: 1.2rem;
  margin-top: -70px;
}
#whether{
  font-size: 1.2rem;
  margin-top: -20px;
}
#nav-extra{
  display: flex;
  margin-top: -1px;
}
#link{
  float: right;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
}
#link a{
  /* text-decoration: none; */
  color: #1b1c6d;

}

  @media screen and (max-width: 600px){
    body{
        background-image: url('https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        color: #ddd;
        background-repeat: no-repeat;
        background-size:100vh;
        background-color: #fcfcfc;
        padding: 10px;
    }
    .search-bar {
      position: absolute;
      font-size: 1.5rem;
      top: 10rem;
      right: -5rem;
      color: white;
      border-bottom: 2px solid white;
    }
    .search-icon {
      visibility: hidden;
    }
    .search-container{
      border-bottom: 2px solid rgb(196, 196, 196);
    }
  }

  .fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    margin-left: 90px;
}
