body{
  border-radius: 5px;
  background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


body div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;

}

input {
    width: 60vw;
    height: 60px;
    padding: 9px;
    text-align: center;
    /* padding: 8px; */
    border: none;
    border-radius: 3px;
    font-size: 16px;
    /* margin-bottom: 10px; */
    background-color: white;
    color: #333;
    font-size: 30px;
    outline: none;
    caret-color: palevioletred;
    
body {
  background-image: url('https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  color: #ddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  background-attachment: fixed;
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}

input {
  width: 60vw;
  height: 60px;
  padding: 9px;
  text-align: center;
  /* padding: 8px; */
  border: none;
  border-radius: 3px;
  font-size: 16px;
  /* margin-bottom: 10px; */
  background-color: #ddd;
  color: #333;
  font-size: 30px;
  outline: none;
  caret-color: palevioletred;
}

button {
  width: 85px;
  height: 77px;
  /* display: inline;
    justify-items: center; */
    background-color: white;
    margin: 0;
  background-color: #ddd;
  margin: 0;
}

#input_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid black; */

}

.search-icon {
  width: 65px;
  font-size: 50px;
  color: #666;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 5px;
}

.child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  /* border: 1px solid black; */
}
#content li{
    width: 55rem;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 20px;
}

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

.wiki-result {
  list-style: none;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

  .search-container {
    position: relative;
    border-bottom: 2px solid white;
    color: #3498db;
  }
.wiki-result a {
  color: rgb(0, 255, 0);
  text-decoration: none;
}

#content li {
  width: 55rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ddd;
  color: #333;
  font-size: 20px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    color: white;
  100% {
    transform: rotate(360deg);
  }
}

.search-container {
  position: relative;
  border-bottom: 2px solid rgb(196, 196, 196);
  color: #3498db;
  margin-bottom: 0px;
}

.search-bar {
  background-color: transparent;
  color: white;
  width: 4.5vw;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 2rem;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
}

.nav-info {
  position: absolute;
  right: 35px;
  padding: 0;
  top: 5px;
}

#time {
  font-size: 1.8rem;
  margin-top: 5px;
}

#date {
  font-size: 1.4rem;
  margin-top: -70px;
}

#whether {
  font-size: 1.2rem;
  margin-top: -20px;
}

#nav-extra {
  display: flex;
  margin-top: -1px;
}

#link {
  float: right;
  font-size: 1.5rem;

}

#link a {
  /* text-decoration: none; */
  color: #e8e8e8;

#news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  list-style: none;
}
.news-card{
  padding: 30px;
  margin: 10px;
  width:100%;
  background-color: #00000076;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    color: #ddd;
    background-repeat: no-repeat;
    background-size: 100vh;
    background-color: #fcfcfc;
    padding: 10px;
  }

  .search-bar {
    position: absolute;
    font-size: 1.5rem;
    top: 10rem;
    right: -5rem;
    color: white;
    border-bottom: 2px solid white;
  }

  .search-icon {
    visibility: hidden;
  }

  .search-container {
    border-bottom: 2px solid rgb(196, 196, 196);
  }
}

/* adding css for suggestions */

.suggestions
{
  margin-top: 3px;
  height: 12rem;
  display: flex;
  justify-content: flex-start;
}

#suggestionslist {
  list-style: none;
  width: 48rem;
  padding: 10px;
  border-radius: 5px;
  /* background-color: rgba(255, 255, 255, 0.288); */
  color: white;
  text-align: center;
  margin: 0px;
}

.suggestions ul li {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

  @media screen and (max-width: 600px){
    body{
        background-image: url('https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        color: white;
        background-repeat: no-repeat;
        background-size:100vh;
        background-color: #fcfcfc;
        padding: 10px;
    }
    .search-bar {
      position: absolute;
      font-size: 1.5rem;
      top: 10rem;
      right: -5rem;
      color: white;
      border-bottom: 2px solid white;
    }
    .search-icon {
      visibility: hidden;
    }
    .search-container{
      border-bottom: 2px solid white;
    }
  }
.suggestions ul li:hover {
  background-color: rgba(199, 35, 35, 0.312);
  color: black;
}
