@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body ,html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #ddd;
}
body > img{
  position: absolute;
  inset: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
    width: 4.5vw;
    height: 60px;
    padding: 9px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-size: 30px;
    outline: none;
    caret-color: palevioletred;
    text-align: center;
}
button {
    width: 85px;
    height: 77px;
    /* display: inline;
    justify-items: center; */
    background-color: #ddd;
    margin: 0;
}

.child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    /* border: 1px solid black; */
}
.wiki-result{
    list-style: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.wiki-result a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
#content li{
    width: 55rem;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    font-size: 20px;
}

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .search-container {
    position: relative;
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 3px solid rgb(196, 196, 196);
    border-radius: 5px;
    color: #3498db;
  }

  /* .search-bar {
    background-color: transparent;
    color: white;
    width: 4.5vw;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    outline: none;
  } */

  .search-icon {
    position: absolute;
    right: 0;
    font-size: 50px;
    cursor: pointer;
    border: none;
    color: rgb(196, 196, 196);
    transform: translateX(-1vw);
  }

nav{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;  
}

#nav-extra{
  display: flex;
  flex-direction: column;
}

.nav-info{
  padding: 0;
  margin: 0;
}
.nav-info-ele{
  height: 100px;
  margin: 0;
}
#date{
  padding: 0;
  margin: 0;
}
#link{
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#link a{
  text-decoration: none;
  color: white;
}
 
.input_field{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#loader{
  margin: 0 auto;
}

#result , #loader{
  margin-top: 5vw;
  text-align: center;
}

.input_field h1{
  text-align: center;
}
  @media screen and (max-width: 600px){
    body{
      color: #ddd;
      padding: 10px;
    }
    nav{
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-bottom: 20px;
    }
    nav h1{
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    nav .nav-info{
      font-size: 0.8em;
    }
    input{
      font-size: 1.3rem;
      height: 30px;
    }
    .search-icon {
      font-size: 20px;
      transform: translateX(-10px);
    }
   
    .input_field h1{
      font-weight: 600;
    }

    #result{
      margin-top: 50px;
      margin-right: 20px;
      font-size: 0.7em;
    }
  }